/* CSS Document */

.style1 {
	font-family:  Courier, "Courier New",Times,"Times New Roman", mono, serif;
	font-size: 12px;
}
.style2 {
	font-family:  Courier, "Courier New",Times,"Times New Roman", mono, serif;
	font-size: 13px;
}
.style4 {font-size: 12px; font-family:   Courier, "Courier New",Times,"Times New Roman", mono, serif; }
.style6 {
	font-family: "FZ ·ÂËÎ·±Ìå";
	font-size: 12px;
}
.style7 {
	font-family: Courier, "Courier New", "FZ ·ÂËÎ·±Ìå";
	font-size: 12px;
	line-height:18px;
}
.style8 {
	font-family:  Courier, "Courier New", "FZ ·ÂËÎ·±Ìå";
	font-size: 16px;
	line-height:19pt;
	text-align: left;
}
.style9{
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 16px;
	line-height:23px;
}
.style10 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height:18px;
}
