@font-face {
    font-family: "Soehne";
    font-display: block;
    src: url("/public/fonts/soehne-test-buch.woff") format("woff");
}

@font-face {
    font-family: "Soehne";
    font-display: block;
    font-weight: bold;
    src: url("/public/fonts/soehne-test-kraftig.woff") format("woff");
}
