.info {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    margin-left: var(--gap);
    margin-bottom: var(--gap);
    .info-item {
        display: flex;
        flex-direction: column;
        min-width: 50px;
        .category {
            font-size: var(--size-h3);
            font-family: "Soehne";
        }
        .data {
            padding-right: 1em;
            font-size: var(--size-h2);
            font-family: "Soehne";
            line-height: 1em;
        }
    }
}

.container-gallery {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: var(--gap);
    margin-bottom: var(--gap);
    gap: var(--gap);
}

.slider {
    position: relative;
    font-size: var(--size-caption);
    font-family: "Soehne";
    width: 520px;

    figcaption {
        bottom: 0;
        position: relative;
        height: fit-content;
        word-wrap: break-word;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0.6em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.5em;

        p {
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    }
}

.portrait {
    position: relative;
    font-size: var(--size-caption);
    font-family: "Soehne";
    width: 370px;

    figcaption {
        bottom: 0;
        position: relative;
        height: fit-content;
        word-wrap: break-word;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-bottom: 0.5em;

        p {
            padding-left: 0.5em;
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
    }
}

.slick-prev {
    visibility: hidden;
    position: absolute;
}

.slick-next {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
}

.slick-list,
.slick-slider,
.slick-track {
    position: relative;
    display: block;
}
.slick-loading .slick-slide,
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: 0;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    top: 0;
    left: 0;
}
.slick-track:after,
.slick-track:before {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-slide {
    display: none;
    float: left;
    width: 100%;
    outline: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
    max-width: 520px;
    max-height: 520px;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-vertical .slick-slide {
    display: block;
    height: 100%;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* _____about____*/
.description {
    margin-top: var(--row-height);
    padding: var(--gap);
    font-size: var(--size-h1);
}

/* _____project____*/
.description-project {
    margin-left: var(--gap);
    margin-right: var(--gap);
    font-size: var(--size-h2);
    font-family: "Soehne";
}
