@import "header";
@import "project";
@import "media";
@import "fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    --size-h1: 2rem;
    --size-h1-mobile: 1.5rem;
    --size-h2: 1.3rem;
    --size-h3: 0.9rem;
    --size-caption: 0.8rem;
    --gap: 1rem;
    --row-height: 60px;
}

/* Layout */
main {
    position: static;
    scrollbar-width: none;
    display: flex;
    justify-content: center;
    height: 100%;
}
::-webkit-scrollbar {
    display: none;
}

.layout {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    margin-top: 50px;

    .column {
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
        a {
            width: 1000px;
            height: 550px;
            position: absolute;
            z-index: 1;
        }
    }

    .column:hover {
        min-width: fit-content;
        border-radius: 0% !important;

        img {
            width: auto;
        }
    }
}

/* Layout2 */
.layout2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--gap) * 2);
    width: calc(100vw- var(--gap) * 2);
    margin-top: 50px;
    margin-left: var(--gap);
    margin-right: var(--gap);

    .column {
        overflow: hidden;
        position: relative;
        height: 100px;
        width: auto;

        img {
            width: auto;
            height: 100%;
        }
        a {
            width: 1000px;
            height: 550px;
            position: absolute;
            z-index: 1;
        }
    }
}

.space {
    width: 100vw;
    height: 100px;
    color: white;
}

/* Legal & Privacy */
.header {
    font-size: var(--size-h1);
    margin-left: var(--gap);
    margin-top: var(--gap);
    font-family: "Soehne";
    font-weight: bold;
}

.text {
    position: relative;
    margin-left: var(--gap);
    font-size: var(--size-h3);
    font-family: "Soehne";
    width: 50%;
    a {
        text-decoration: none;
        color: black;
    }
}

/* _____contact____*/
.wrapper-contact {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gap) * 4);
    margin-left: var(--gap);
    font-family: "Soehne";
    font-size: var(--size-h2);

    h1 {
        font-size: var(--size-h1);
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
.platform {
    margin-top: var(--gap);
    display: flex;
    flex-direction: column;
    font-size: var(--size-h1);
    width: 100%;

    a {
        text-decoration: none;
        color: black;
    }
    div:before {
        content: "➞";
    }
}

/* _____about____*/
.wrapper-about {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-top: var(--gap);
    margin-left: var(--gap);
}
.about {
    font-size: var(--size-h2);
    font-family: "Soehne";
    padding-right: calc(var(--gap) * 2);
    padding-top: 0;

    a {
        color: black;
    }

    .hesign-logo {
        img {
            width: 100px;
        }
    }
}
.link {
    width: 500px;
    height: calc(var(--row-height) * 2) !important;
    display: flex;
    margin-top: var(--gap);
    justify-content: space-evenly;

    .item {
        width: 177px;
        height: 120px;
    }
    .item:first-child {
        margin-left: var(--gap);
        img {
            width: 160px;
        }
    }
    .item:nth-child(2) {
        align-self: flex-start;
        img {
            width: 180px;
            margin-top: -3px;
            margin-left: 15px;
        }
    }
    .item:nth-child(3) {
        align-self: flex-start;

        img {
            width: 180px;
            margin-top: -3px;
        }
    }
}
