@charset "UTF-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
}
p.now{
	display:block;
	width:500px;
	height:auto;
	border:0px solid #ccc;
	text-align:center
}
li.now{ background-color:#10675d;}
li{
	list-style:none;
	float:left;
	width:14px;
	height:14px;
	border:0px solid #ccc;
	text-align:right;
	margin-right:3px;
	background-color:#999999;
}
#fd{
	
	left:10px;
	top:85px;
	height:580px;
	width:500px;
	background:#FFF;
	float:left;
	text-align:center;
	margin:0 auto;
}
/*p{
	font-size:10px;
	line-height:13pt;
	color:#216c67;
	text-align:justify;
	font-family: Helvetica, "黑体", Arial, serif;
	}*/
#pic{ width:500px; height:500px;}
#tag{ width:500px; height:15px;; text-align:right; }
#tag ul{ width:auto; height:15px;; text-align:right; float:right;padding-right:40px;}
#detail{height:580px;}
#intro{
	font-size:10px;
	line-height:13pt;
	color:#216c67;
	text-align:justify;
	font-family: Helvetica, "黑体", Arial, serif;
	float:left;
	width:200px; 
	height:600px;
	margin-left:50px;
	margin-right:100px;
	margin-top:20px;	   
	}