@charset "utf-8";
/* CSS Document */
#shuliao{width:289px; height:521px;margin:0 auto; margin-top:5%}
#menu{margin-top:25px;clear:both; margin-top:10px;text-align:left ;margin-left:60px;}
body{margin:0 auto; text-align:center}
#cafe{width:1240px; height:400px; margin:0 auto; text-align:left; overflow:hidden;}
#cafeintro{float:left;padding:0;margin-top:30px;width:540px; height:350px; text-align:left;}
#cafefz{float:left; text-align:left: width:150px; height:auto; clear:both;}
#cafepic{float:left;width:516px;height:350px;margin-top:30px;margin-left:40px; text-align:left;}
.pic{float:left;margin:0;padding:0}
.about_left{float:left;width:427px;;margin-top:50px;margin-left:0px;}
.about_right{float:left;width:666px;margin-top:50px;padding:0;}
#about{
	width:1240px;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	margin-top:0px;
	height:800px;
}
#detail{float:left;margin-left:180px;width:900px; overflow:hidden;}
.back{float:left; margin:0; padding:0; clear:both;}
.back00{float:left; margin:0; padding:0; clear:both;width:150px;}

/*contact webpage*/
.traffic{
	width:437px;
	height:auto;
	float:left;
	margin-top:80px;
	margin-left:50px;
	/* [disabled]position:absolute; */
	z-index:1;
	}
.fg{
	background:#a6a6a6;
	float:left;
	width:1px;
	height:450px;
	z-index:1;
	/* [disabled]position:absolute; */
	margin-left:45px;
	margin-top:165px
}
.userinfo{
	width:555px;
	height:550px;
	margin-top:80px;
	float:left;
	/* [disabled]z-index:1; */
	margin-left:45px;
	overflow:hidden;
}
.top{float:left;margin:0; clear:both; margin-bottom:10px;}
#map{float:left;margin:0;padding:0; text-align:left; clear:left; width:250px;}
#add{float:left;margin:0;padding:0; text-align:left;width:250px; }
.userinfo #add p a {
	color: #216c67;
	text-decoration: none;
	list-style-type: none;
}
.form{float:left; clear:left; width:480px; }
.form1{float:left; width:230px; text-align:left;height:250px; margin-top:30px;}
.form2{float:left; width:230px; text-align:left;height:250px; margin-top:30px; margin-left:20px;}
.td{ width:225px; height:22px; border:1px solid #FFFFFF;}
 tr td{  height:16px;}
tr td p a {
	color: #216c67;
	text-decoration: none;
	list-style-type: none;
}
tr td p a:hover{
	color: #216c67;
	text-decoration:underline;
	list-style-type: none;
	}
