/*ALLCSS START*/
*{margin:0;padding:0;}
@font-face{
    font-family:'Helvetica Neue Regular';
}
body{font-size:14px;background:#fff;
    font-family:"Helvetica Neue";
    overflow-x:hidden;
    /*overflow-y:hidden;*/
}
ul li{list-style:none;}
ol li{list-style:none;}
a{text-decoration:none;color:#666;
    background-color:transparent;}
a{outline:none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus {outline:0;}
img{vertical-align:middle;
    border:none;}
strong{font-weight:600;}
.clearfix{
    clear: both;
}

#ulimg img.opacityimg {filter:alpha(opacity=39);opacity:0.39;}
#ulimg img:hover{filter:alpha(opacity=100);opacity:1;}
/*.right_c #ulimg img:hover{filter:progid:dXImageTransform.Microsoft.DropShadow(color=#cccccc,offX=0,offY=0,positives=true);}*/
/*ALLCSS END*/

