/*containerIndex START*/
.containerIndex{position:relative;
    margin:20px 0 0 42px;
    width:210px;
    height:566px;
    z-index:1000000;}
.containerIndex:hover{cursor:pointer;}
.containerIndex .Left_box{float:left;
    z-index:-10;width:231px;height:566px;
}
.Left_box ul li{margin-top:9px;}
.Left_box ul li#design,#curator,#shop,#news{margin-left:4px;}
.Left_box ul li#design{margin-top:-3px;}
.Left_box ul li#curator,#shop,#news{margin-top:20px;}

.Left_box ul li a img{display:block;}
.Left_box ul li.addclass{position:absolute;
    top:0;
    left:0;
    z-index:-100;}
    /*  -moz-transition: all 0.5s ease;
        !* WebKit *!
        -webkit-transition: all 0.5s ease;
       !* Opera *!
         -o-transition: all 0.5s ease;
       !* Standard *!
        transition: all 0.5s ease;

/*@-webkit-keyframes scf{
    0%{bottom:-5px;}
    25%{bottom:-10px;}
    50%{bottom:-15px;}
    75%{bottom:-20px;}
    100%{bottom:-26px;}
}*/
/*containerIndex END*/

