/* CSS Document */
body{font-family:  Courier, "Courier New",Times,"Times New Roman", mono, serif;
	font-size: 12px;
	color: #000000;}
p{
	font-family:  Courier, "Courier New",Times,"Times New Roman", mono, serif;
	font-size: 12px;
	color: #000000;
}

p2{
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.style1 {
	font-family:  Courier, "Courier New",Times,"Times New Roman", mono, serif;
	font-size: 12px;
}

.chushou {font-size: 11px}

a.one:link {
    color: #000000;
    text-decoration: none;
	font-size:12px;  
	font-weight: bold;
	font-family:'Courier New', Courier, monospace;
}
a.one:visited {
      color: #000000;
    text-decoration: none;
	font-size:12px;  
	font-weight: bold;
	font-family:'Courier New', Courier, monospace;
}
a.one:hover {
    color: #000000;
    text-decoration: none;
	font-size:12px;  
	font-weight: bold;
	font-family:'Courier New', Courier, monospace;
}
a.one:active {
	color: #000000;
    text-decoration: none;
	font-size:12px;  
	font-weight: bold;
	font-family:'Courier New', Courier, monospace;
}