<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="js" path="*.js" verb="GET,HEAD,POST,DEBUG" 
            modules="IsapiModule"                        
            scriptProcessor="%windir%\System32\inetsrv\asp.dll"
            resourceType="Unspecified" 
            requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>